body{
    margin: 0px;
    padding: 0px;

}
.header{
    position: fixed;
    top: 0%;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home{
    padding-right: 40px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px ;
    color: white;
}
.background {
    background-image: url('../statics/1.jpg'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white; /* Adjust text color for contrast */
    padding: 20px;
}
.heading{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center;
    font-size: 100px;
    color:white;
    padding-top: 90px;
}
.center-text{
    text-align: center;
    color:white;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 300px;
    padding-right: 300px;
}
.extra{
    justify-content: center;
}